In [1]:
%config IPCompleter.greedy=True

In [2]:
from selenium import webdriver
import pandas as pd
import lxml.html
import re

In [3]:
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(chrome_options=options)
driver.get('https://understat.com/league/EPL')
source = driver.page_source
tree = lxml.html.fromstring(source)

c:\users\christopher\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: use options instead of chrome_options

In [4]:
header_els = tree.xpath('//div[@id="league-chemp"]//table//th')
headers_list = []
for header in header_els:
    headers_list.append(header.text_content())
print(headers_list)

['№', 'Team', 'M', 'W', 'D', 'L', 'G', 'GA', 'PTS', 'xG', 'xGA', 'xPTS']

In [5]:
tbody = tree.xpath('//div[@id="league-chemp"]/table/tbody')[0]
rows = []
for tr in tbody.findall('tr'):
    row = tr.findall('td')
    current_row = []
    for item in row:
        current_row.append(item.text_content())
    rows.append(current_row)

In [30]:
xg_df = pd.DataFrame(rows, columns=headers_list)
xg_df['xG'] = xg_df['xG'].apply(lambda x: re.split('[+-]',x)[0])
xg_df['xGA'] = xg_df['xGA'].apply(lambda x: re.split('[+-]',x)[0])
xg_df['xPTS'] = xg_df['xPTS'].apply(lambda x: re.split('[+-]',x)[0])
xg_df

,№,Team,M,W,D,L,G,GA,PTS,xG,xGA,xPTS
0,1,Manchester City,29,23,2,4,76,20,71,72.84,21.25,68.94
1,2,Liverpool,29,21,7,1,64,15,70,59.07,21.91,63.56
2,3,Tottenham,29,20,1,8,56,30,61,48.36,36.70,48.35
3,4,Manchester United,29,17,7,5,58,38,58,53.19,40.45,47.29
4,5,Arsenal,29,17,6,6,61,39,57,50.43,38.91,48.12
5,6,Chelsea,28,17,5,6,49,30,56,46.21,29.28,51.63
6,7,Wolverhampton Wanderers,29,12,7,10,37,35,43,40.61,30.93,46.66
7,8,Watford,29,12,7,10,41,41,43,40.88,41.40,40.47
8,9,West Ham,29,11,6,12,37,41,39,35.87,47.68,33.56
9,10,Everton,29,10,7,12,39,39,37,37.25,41.76,36.58
10,11,Leicester,29,10,5,14,35,41,35,37.11,35.66,41.16
11,12,Bournemouth,29,10,4,15,39,54,34,40.53,47.25,36.78
12,13,Crystal Palace,29,9,6,14,35,39,33,36.31,39.01,38.17
13,14,Newcastle United,29,8,7,14,26,36,31,28.40,47.39,26.59
14,15,Brighton,28,8,6,14,30,41,30,31.00,44.26,29.86
15,16,Burnley,29,8,6,15,32,53,30,34.83,49.20,33.24
16,17,Southampton,29,6,9,14,32,49,27,34.55,45.44,32.68
17,18,Cardiff,29,7,4,18,25,57,25,29.47,50.10,27.16
18,19,Fulham,29,4,5,20,27,65,17,33.36,55.17,27.47
19,20,Huddersfield,29,3,5,21,15,51,14,19.80,46.33,23.51

In [31]:
xg_df['xG'] = pd.to_numeric(xg_df['xG'])
xg_df['xGA'] = pd.to_numeric(xg_df['xGA'])
xg_df['xPTS'] = pd.to_numeric(xg_df['xPTS'])
xg_df['G'] = pd.to_numeric(xg_df['G'])
xg_df['GA'] = pd.to_numeric(xg_df['GA'])
xg_df['GD'] = xg_df['G']-xg_df['GA']
xg_df

,№,Team,M,W,D,L,G,GA,PTS,xG,xGA,xPTS,GD
0,1,Manchester City,29,23,2,4,76,20,71,72.84,21.25,68.94,56
1,2,Liverpool,29,21,7,1,64,15,70,59.07,21.91,63.56,49
2,3,Tottenham,29,20,1,8,56,30,61,48.36,36.70,48.35,26
3,4,Manchester United,29,17,7,5,58,38,58,53.19,40.45,47.29,20
4,5,Arsenal,29,17,6,6,61,39,57,50.43,38.91,48.12,22
5,6,Chelsea,28,17,5,6,49,30,56,46.21,29.28,51.63,19
6,7,Wolverhampton Wanderers,29,12,7,10,37,35,43,40.61,30.93,46.66,2
7,8,Watford,29,12,7,10,41,41,43,40.88,41.40,40.47,0
8,9,West Ham,29,11,6,12,37,41,39,35.87,47.68,33.56,-4
9,10,Everton,29,10,7,12,39,39,37,37.25,41.76,36.58,0
10,11,Leicester,29,10,5,14,35,41,35,37.11,35.66,41.16,-6
11,12,Bournemouth,29,10,4,15,39,54,34,40.53,47.25,36.78,-15
12,13,Crystal Palace,29,9,6,14,35,39,33,36.31,39.01,38.17,-4
13,14,Newcastle United,29,8,7,14,26,36,31,28.40,47.39,26.59,-10
14,15,Brighton,28,8,6,14,30,41,30,31.00,44.26,29.86,-11
15,16,Burnley,29,8,6,15,32,53,30,34.83,49.20,33.24,-21
16,17,Southampton,29,6,9,14,32,49,27,34.55,45.44,32.68,-17
17,18,Cardiff,29,7,4,18,25,57,25,29.47,50.10,27.16,-32
18,19,Fulham,29,4,5,20,27,65,17,33.36,55.17,27.47,-38
19,20,Huddersfield,29,3,5,21,15,51,14,19.80,46.33,23.51,-36

In [32]:
cols = list(xg_df.columns.values)
print(cols)

['№', 'Team', 'M', 'W', 'D', 'L', 'G', 'GA', 'PTS', 'xG', 'xGA', 'xPTS', 'GD']

In [33]:
cols = ['№', 'Team', 'M', 'W', 'D', 'L', 'G', 'GA', 'GD', 'PTS', 'xG', 'xGA', 'xPTS']
xg_df = xg_df.reindex(columns=cols)
xg_df

,№,Team,M,W,D,L,G,GA,GD,PTS,xG,xGA,xPTS
0,1,Manchester City,29,23,2,4,76,20,56,71,72.84,21.25,68.94
1,2,Liverpool,29,21,7,1,64,15,49,70,59.07,21.91,63.56
2,3,Tottenham,29,20,1,8,56,30,26,61,48.36,36.70,48.35
3,4,Manchester United,29,17,7,5,58,38,20,58,53.19,40.45,47.29
4,5,Arsenal,29,17,6,6,61,39,22,57,50.43,38.91,48.12
5,6,Chelsea,28,17,5,6,49,30,19,56,46.21,29.28,51.63
6,7,Wolverhampton Wanderers,29,12,7,10,37,35,2,43,40.61,30.93,46.66
7,8,Watford,29,12,7,10,41,41,0,43,40.88,41.40,40.47
8,9,West Ham,29,11,6,12,37,41,-4,39,35.87,47.68,33.56
9,10,Everton,29,10,7,12,39,39,0,37,37.25,41.76,36.58
10,11,Leicester,29,10,5,14,35,41,-6,35,37.11,35.66,41.16
11,12,Bournemouth,29,10,4,15,39,54,-15,34,40.53,47.25,36.78
12,13,Crystal Palace,29,9,6,14,35,39,-4,33,36.31,39.01,38.17
13,14,Newcastle United,29,8,7,14,26,36,-10,31,28.40,47.39,26.59
14,15,Brighton,28,8,6,14,30,41,-11,30,31.00,44.26,29.86
15,16,Burnley,29,8,6,15,32,53,-21,30,34.83,49.20,33.24
16,17,Southampton,29,6,9,14,32,49,-17,27,34.55,45.44,32.68
17,18,Cardiff,29,7,4,18,25,57,-32,25,29.47,50.10,27.16
18,19,Fulham,29,4,5,20,27,65,-38,17,33.36,55.17,27.47
19,20,Huddersfield,29,3,5,21,15,51,-36,14,19.80,46.33,23.51